<ion-toolbar>
    <ion-title>Blue Vision</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="arrow-back"></ion-icon>
</ion-toolbar>

<ion-content>
    <div>
        <h2>Order Form</h2>
    </div>
    <div class="orders"></div>
    <div class="form ion-text-center">
        <ion-item class="orderform" lines='none'>
            <ion-label position="floating">Order Number</ion-label>
            <ion-input placeholder='DG-00001'></ion-input>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col size=5>
                    <ion-item lines='none'>
                        <ion-label position="floating">Order Date</ion-label>
                        <ion-datetime></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size=2>
                </ion-col>
                <ion-col size=5>
                    <ion-item lines='none'>
                        <ion-label position="floating">Delivery Date</ion-label>
                        <ion-datetime></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=8>
                    <ion-item lines='none'>
                        <ion-label position="floating">Phone</ion-label>
                        <ion-input placeholder='+91 1234567890'></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=12>
                    <ion-item lines='none'>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=12>
                    <ion-item>
                        <ion-label position="floating">Address</ion-label>
                        <ion-textarea></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=4>
                    <ion-item lines='none'>
                        <ion-label position="floating">Age</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=3>
                </ion-col>
                <ion-col size=5>
                    <ion-item class="select" lines='none'>
                        <ion-label>Gender</ion-label>
                        <ion-select>
                            <ion-select-option value="Male">Male</ion-select-option>
                            <ion-select-option value="Female">Female</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=7>
                    <ion-item class="select" lines='none'>
                        <ion-label>Lens Type</ion-label>
                        <ion-select>
                            <ion-select-option value="CR">CR</ion-select-option>
                            <ion-select-option value="GL">GL</ion-select-option>
                            <ion-select-option value="HC">HC</ion-select-option>
                            <ion-select-option value="ARC">ARC</ion-select-option>
                            <ion-select-option value="PROG">PROG</ion-select-option>
                            <ion-select-option value="DM">DM</ion-select-option>
                            <ion-select-option value="ARC+PROG">ARC+PROG</ion-select-option>
                            <ion-select-option value="HC+ARC">HC+ARC</ion-select-option>
                            <ion-select-option value="SV">SV</ion-select-option>
                            <ion-select-option value="Bifocal">Bifocal</ion-select-option>
                            <ion-select-option value="PROG">PROG</ion-select-option>

                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size=5>
                    <ion-item lines='none'>
                        <ion-label position="floating">Lens Price</ion-label>
                        <ion-input placeholder='2000'></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=4>
                    <ion-item lines='none'>
                        <ion-label position="floating">Tint</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=4></ion-col>
                <ion-col size=4>
                    <ion-item lines='none'>
                        <ion-label position="floating">TAX/GST%</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=6>
                    <ion-item class="select" lines='none'>
                        <ion-label>Frame Type</ion-label>
                        <ion-select>
                            <ion-select-option value="FF">FF</ion-select-option>
                            <ion-select-option value="FS">FS</ion-select-option>
                            <ion-select-option value="FSH">FSH</ion-select-option>
                            <ion-select-option value="FRL">FRL</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size=2></ion-col>
                <ion-col size=4>
                    <ion-item lines='none'>
                        <ion-label position="floating">Frame Price</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=4>
                    <ion-item lines='none'>
                        <ion-label position="floating">Brand</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col></ion-col>
                <ion-col size=2></ion-col>
                <ion-col size=4>
                    <ion-item lines='none'>
                        <ion-label position="floating">TAX/GST%</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>



        </ion-grid>
        <ion-grid>
            <ion-row class="sphere">
                <ion-col size=3></ion-col>
                <ion-col size=3>SPHERE<span style="display:block;">(SPH)</span></ion-col>
                <ion-col size=3.5>CYLINDER<span style="display:block;">(CYL)</span></ion-col>
                <ion-col size=2.5>AXIS<span style="display:block;">(AXI)</span></ion-col>
            </ion-row>
            <ion-row class="right">
                <ion-col size=3>Right EYE</ion-col>
                <ion-col size=3></ion-col>
                <ion-col size=3.5></ion-col>
                <ion-col size=2.5></ion-col>
            </ion-row>
            <ion-row class="dv">
                <ion-col size=3>DV</ion-col>
                <ion-col size=3>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=3.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=2.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="nv">
                <ion-col size=3>NV</ion-col>
                <ion-col size=3>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=3.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=2.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="left">
                <ion-col size=3>Left EYE</ion-col>
                <ion-col size=3></ion-col>
                <ion-col size=3.5></ion-col>
                <ion-col size=2.5></ion-col>
            </ion-row>
            <ion-row class="leftdv">
                <ion-col size=3>DV</ion-col>
                <ion-col size=3>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=3.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=2.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="leftnv">
                <ion-col size=3>NV</ion-col>
                <ion-col size=3>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=3.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=2.5>
                    <ion-item>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col size=4>
                    <ion-item class="amount" lines='none'>
                        <ion-label position="floating">Total Amount</ion-label>
                        <ion-input placeholder="0"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=5>
                    <ion-item lines='none'>
                        <ion-label position="floating">Discount Value</ion-label>
                        <ion-input placeholder="0"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=3>
                    <ion-item lines='none'>
                        <ion-label position="floating">Advance</ion-label>
                        <ion-input placeholder="0"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=5>
                    <ion-item class="amount" lines='none'>
                        <ion-label position="floating">Balance</ion-label>
                        <ion-input placeholder="0"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=2></ion-col>
                <ion-col size=5>
                    <ion-item lines='none'>
                        <ion-label position="floating">Next Visit Date</ion-label>
                        <ion-datetime></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=7>
                    <ion-item lines='none'>
                        <ion-label position="floating">Referred By</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=6>
                    <ion-item lines='none'>
                        <ion-label position="floating">Order Taken By</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size=6>
                    <ion-item class="select" lines='none'>
                        <ion-label position="floating">Delivered Status</ion-label>
                        <ion-select>
                            <ion-select-option value="CR">pending</ion-select-option>
                            <ion-select-option value="GL">Fitting</ion-select-option>
                            <ion-select-option value="HC">Ready to Deliver</ion-select-option>
                            <ion-select-option value="ARC">Delivered</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=3>
                    <ion-button class="cancelbtn" size="medium">Cancel</ion-button>
                </ion-col>
                <ion-col size=1></ion-col>
                <ion-col size=4>
                    <ion-button class="savebtn" size="medium">Save & Close</ion-button>
                </ion-col>
                <ion-col size=4>
                    <ion-button class="savebtn" size="medium">Save & Print</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>



    </div>
</ion-content>