<ion-toolbar>
    <ion-title>Blue Vision</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" routerLink="{{user_home}}" name="arrow-back-outline"></ion-icon>
</ion-toolbar>

<ion-content>
    <div>
        <h2>Order - {{ramdon_id}}</h2>
    </div>

    <!-- <app-dynamic-form [questions]="questions$ | async"></app-dynamic-form> -->

    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="orders">
            <div class="form ion-text-center">
                <!--  <ion-item class="orderform" lines='none'>
                    <ion-label position="floating">Order Number
                    </ion-label>
                    <ion-input placeholder='BV-00001' type="text" formControlName="order_id"></ion-input>
                </ion-item> -->
                <ion-grid>
                    <ion-row>
                        <ion-col size=5>
                            <ion-item [ngClass]="{ 'is-invalid': submitted && f.order_date.errors }">
                                <ion-label position="floating">Order Date</ion-label>
                                <ion-datetime class="form-controll" formControlName="order_date"
                                    displayFormat="MM/DD/YYYY" required>
                                </ion-datetime>
                            </ion-item>
                            <div class="validation-errors">
                                <!--  <ng-container *ngFor="let validation of validation_messages.username">
                                  <div class="error-message" *ngIf="orderForm.get('username').hasError(validation.type) && (orderForm.get('username').dirty || orderForm.get('username').touched)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container> -->
                            </div>
                        </ion-col>
                        <ion-col size=2>
                        </ion-col>
                        <ion-col size=5>
                            <ion-item [ngClass]="{ 'is-invalid': submitted && f.delivery_date.errors }">
                                <ion-label position="floating">Delivery Date</ion-label>
                                <ion-datetime formControlName="delivery_date" displayFormat="MM/DD/YYYY"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size=8>
                            <ion-item [ngClass]="{ 'is-invalid': submitted && f.customer_phone.errors }">
                                <ion-label position="floating">Phone</ion-label>
                                <ion-input type="number" formControlName="customer_phone" placeholder='+91 1234567890'
                                    required (focusout)="getuser()">
                                </ion-input>
                            </ion-item>

                            <!--  <div class="validation-errors">
                                <div *ngIf="submitted && f.customer_phone.errors" class="invalid-feedback">
                                    <div *ngIf="f.customer_phone.errors.required">phone is required</div>
                                </div>
                            </div> -->

                            <!--  <ng-container *ngFor="let validation of validation_messages.customer_phone">
                                    <div class="error-message"
                                        *ngIf="orderForm.get('customer_phone').hasError(validation.type) && (orderForm.get('customer_phone').dirty || orderForm.get('customer_phone').touched)">
                                        {{ validation.message }}
                                    </div>
                                </ng-container> -->
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-col size=12>
                            <ion-item [ngClass]="{ 'is-invalid': submitted && f.customer_name.errors }">
                                <ion-label position="floating">Name</ion-label>
                                <ion-input type="text" formControlName="customer_name"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=12>
                            <ion-item [ngClass]="{ 'is-invalid': submitted && f.customer_address.errors }">
                                <ion-label position="floating">Address</ion-label>
                                <ion-textarea type="text" formControlName="customer_address"></ion-textarea>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=4>
                            <ion-item [ngClass]="{ 'is-invalid': submitted && f.customer_age.errors }">
                                <ion-label position="floating">Age</ion-label>
                                <ion-input type="number" formControlName="customer_age"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=3>
                        </ion-col>
                        <ion-col size=5>
                            <ion-item class="select" lines='none'
                                [ngClass]="{ 'is-invalid': submitted && f.customer_gender.errors }">
                                <ion-label position="floating">Gender</ion-label>
                                <ion-select formControlName="customer_gender">
                                    <ion-select-option
                                        *ngFor="let val of  [{value:'Male', label:'Male'},{value:'Female', label: 'Female'},{value:'Other', label: 'Other'}]"
                                        [value]="val.value">
                                        {{val.label}}
                                    </ion-select-option>
                                </ion-select>
                                <!--  <ion-select formControlName="customer_gender">
                                    <ion-select-option value="Male">Male</ion-select-option>
                                    <ion-select-option value="Female">Female</ion-select-option>
                                    <ion-select-option value="Other">Other</ion-select-option>
                                </ion-select> -->
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=7>
                            <ion-item class="select" lines='none'
                                [ngClass]="{ 'is-invalid': submitted && f.lens_type.errors }">
                                <ion-label>Lens Type</ion-label>
                                <ion-select formControlName="lens_type">
                                    <ion-select-option value="FF">HC-SV</ion-select-option>
                                    <ion-select-option value="FS">HC-Bifocal</ion-select-option>
                                    <ion-select-option value="FSH">HC-Prog</ion-select-option>
                                    <ion-select-option value="FRL">HMC-SV</ion-select-option>
                                    <ion-select-option value="FRL">HMC-Bifocal</ion-select-option>
                                    <ion-select-option value="FRL">HMC-Prog</ion-select-option>
                                    <ion-select-option value="FRL">glass-SV</ion-select-option>
                                    <ion-select-option value="FRL">glass-KM</ion-select-option>
                                    <ion-select-option value="FRL">glass-EX</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size=5>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.lens_brand.errors }">
                                <ion-label position="floating">Lens Brand</ion-label>
                                <ion-input type="text" formControlName="lens_brand">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.lens_warrenty.errors }">
                                <ion-label position="floating">Warranty</ion-label>
                                <ion-input formControlName="lens_warrenty"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.lens_price.errors }">
                                <ion-label position="floating">Lens Price</ion-label>
                                <ion-input type="number" formControlName="lens_price" (ngModelChange)="updateCalc()">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.lens_tax.errors }">
                                <ion-label position="floating">Tax</ion-label>
                                <ion-input type="number" formControlName="lens_tax" (ngModelChange)="updateCalc()">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=6>
                            <ion-item class="select" lines='none'
                                [ngClass]="{ 'is-invalid': submitted && f.frame_type.errors }">
                                <ion-label>Frame Type</ion-label>
                                <ion-select formControlName="frame_type">
                                    <ion-select-option value="FF">F.M</ion-select-option>
                                    <ion-select-option value="FS">F.S</ion-select-option>
                                    <ion-select-option value="FSH">H.M</ion-select-option>
                                    <ion-select-option value="FRL">H.S</ion-select-option>
                                    <ion-select-option value="FRL">Rim</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col size=2></ion-col>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.frame_brand.errors }">
                                <ion-label position="floating">Brand</ion-label>
                                <ion-input formControlName="frame_brand"></ion-input>

                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.frame_warrenty.errors }">
                                <ion-label position="floating">Warranty</ion-label>
                                <ion-input formControlName="frame_warrenty"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.frame_price.errors }">
                                <ion-label position="floating">Frame Price</ion-label>
                                <ion-input type="number" formControlName="frame_price" (ngModelChange)="updateCalc()">
                                </ion-input>
                            </ion-item>

                        </ion-col>
                        <ion-col size=4>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.frame_tax.errors }">
                                <ion-label position="floating">Tax</ion-label>
                                <ion-input type="number" formControlName="frame_tax" (ngModelChange)="updateCalc()">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>


                <ion-grid [ngStyle]="{'color':'blue'}" formGroupName="frame_details">
                    <ion-row class="sphere">
                        <ion-col size=3></ion-col>
                        <ion-col size=3>SPHERE<span style="display:block;">(SPH)</span></ion-col>
                        <ion-col size=3.5>CYLINDER<span style="display:block;">(CYL)</span></ion-col>
                        <ion-col size=2.5>AXIS<span style="display:block;">(AXI)</span></ion-col>
                    </ion-row>
                    <ion-row class="right">
                        <ion-col size=3>Right EYE</ion-col>
                        <ion-col size=3></ion-col>
                        <ion-col size=3.5></ion-col>
                        <ion-col size=2.5></ion-col>
                    </ion-row>

                    <ion-row class="dv" formGroupName="right">
                        <ion-col size=3>DV</ion-col>
                        <ion-col size=3>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="dv_sph"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=3.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="dv_cyl"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=2.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="dv_axi"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row class="nv" formGroupName="right">
                        <ion-col size=3>NV</ion-col>
                        <ion-col size=3>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="nv_sph"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=3.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="nv_cyl"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=2.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="nv_axi"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row class="left">
                        <ion-col size=3>Left EYE</ion-col>
                        <ion-col size=3></ion-col>
                        <ion-col size=3.5></ion-col>
                        <ion-col size=2.5></ion-col>
                    </ion-row>
                    <ion-row class="leftdv" formGroupName="left">
                        <ion-col size=3>DV</ion-col>
                        <ion-col size=3>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="dv_sph"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=3.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="dv_cyl"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=2.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="dv_axi"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row class="leftnv" formGroupName="left">
                        <ion-col size=3>NV</ion-col>
                        <ion-col size=3>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="nv_sph"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=3.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="nv_cyl"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=2.5>
                            <ion-item>
                                <ion-input placeholder="0" type="number" formControlName="nv_axi"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>


                <ion-grid>
                    <ion-row>
                        <ion-col size=4>
                            <ion-item class="amount" lines='none'
                                [ngClass]="{ 'is-invalid': submitted && f.total_amount.errors }">
                                <ion-label position="floating">Total Amount</ion-label>
                                <ion-input placeholder="0" type="number" formControlName="total_amount"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=5>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.discount.errors }">
                                <ion-label position="floating">Discount Value</ion-label>
                                <ion-input placeholder="0" type="number" formControlName="discount"
                                    (ngModelChange)="updateCalc()"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=3>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.advance.errors }">
                                <ion-label position="floating">Advance</ion-label>
                                <ion-input placeholder="0" type="number" formControlName="advance"
                                    (ngModelChange)="updateCalc()"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=5>
                            <ion-item class="amount" lines='none'
                                [ngClass]="{ 'is-invalid': submitted && f.balance.errors }">
                                <ion-label position="floating">Balance</ion-label>
                                <ion-input placeholder="0" type="number" formControlName="balance"></ion-input>
                            </ion-item>
                        </ion-col>
                        <!--  <ion-col size=2></ion-col>
                        <ion-col size=5>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.grand_total.errors }">
                                <ion-label position="floating">Grand Total</ion-label>
                                <ion-input type="number" formControlName="grand_total"></ion-input>
                            </ion-item>
                        </ion-col> -->
                    </ion-row>
                    <ion-row>
                        <ion-col size=7>
                            <ion-item lines='none' [ngClass]="{ 'is-invalid': submitted && f.next_visit.errors }">
                                <ion-label position="floating">Next Visit Date</ion-label>
                                <ion-datetime formControlName="next_visit"></ion-datetime>
                            </ion-item>

                        </ion-col>
                        <ion-col size=5>
                            <ion-item class="amount" lines='none'>
                                <ion-label position="floating">Paid</ion-label>
                                <ion-select formControlName="paid_status">
                                    <ion-select-option value="Paid">Paid</ion-select-option>
                                    <ion-select-option value="Not">Not</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=6>
                            <ion-item lines='none'>
                                <ion-label position="floating">Referred By</ion-label>
                                <ion-input formControlName="refered_by"></ion-input>
                            </ion-item>

                        </ion-col>
                        <ion-col size=6>
                            <ion-item class="select" lines='none'
                                [ngClass]="{ 'is-invalid': submitted && f.delivery_status.errors }">
                                <ion-label position="floating">Delivered Status</ion-label>
                                <ion-select formControlName="delivery_status">
                                    <ion-select-option value="Pending">Pending</ion-select-option>
                                    <ion-select-option value="Fitting">Fitting</ion-select-option>
                                    <ion-select-option value="Ready">Ready to Deliver</ion-select-option>
                                    <ion-select-option value="Delivered">Delivered</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=6>
                            <ion-item lines='none'>
                                <ion-label position="floating">Order Taken By</ion-label>
                                <ion-input formControlName="order_taken"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size=6>
                            <ion-item class="select" lines='none'>
                                <ion-label>Branch</ion-label>
                                <ion-select formControlName="branch">
                                    <ion-select-option *ngFor="let val of branchList" [value]="val._id">
                                        {{val.name}}
                                    </ion-select-option>
                                    <!--   <ion-select-option value="Branch1">Branch 1</ion-select-option>
                                    <ion-select-option value="Branch2">Branch 2</ion-select-option>
                                    <ion-select-option value="Branch3">Branch 3</ion-select-option> -->
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size=3>
                            <ion-button class="cancelbtn" size="medium" (click)="reset()">Cancel</ion-button>
                        </ion-col>
                        <ion-col size=1></ion-col>
                        <!-- <ion-col size=4>
                            <ion-button class="savebtn" size="medium">Save & Close</ion-button>
                        </ion-col> -->
                        <ion-col size=4>
                            <ion-button class="savebtn" type="submit" size="medium">Save & Close</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </form>
</ion-content>