<ion-toolbar>

    <ion-title>Blue Vision</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="arrow-back"></ion-icon>
</ion-toolbar>
<ion-content>
    <div>
        <h2 class="ion-text-center">Customer Visit</h2>
    </div>
    <form [formGroup]="getuser" (ngSubmit)="submit()">
        <div class="orders"></div>
        <div class="form ion-text-center">
            <ion-item lines='none'>
                <ion-label position="floating"> Date</ion-label>
                <ion-datetime formControlName="date" required></ion-datetime>
            </ion-item>
            <ion-button class="cancelbtn" type="submit" size="medium">Submit</ion-button>
        </div>


        <div class="tablename" style="overflow-x:auto;" *ngIf="userList">
            <table>
                <tr>
                    <th class="order">Customer Name</th>
                    <th class="order">Phone</th>
                    <th class="order">Visting Date</th>
                    <th class="order">Last Purchase Date</th>
                </tr>

                <tr *ngFor="let users of userList">
                    <td>{{users.customer_name}}</td>
                      <td>{{users.customer_phone}}</td>
                    <td>{{users.created | date:'fullDate'}}</td>
                    <td>{{users.next_visit | date:'fullDate'}}</td>
                </tr>
            </table>
        </div>


    </form>
</ion-content>