<ion-header>
    <ion-toolbar>
        <ion-title>Blue Vision</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-icon slot="start" routerLink="{{user_home}}" name="home"></ion-icon>
    </ion-toolbar>
</ion-header>




<ion-content>
    <div>
        <h2 class="ion-text-center">Customer Visit</h2>
    </div>
    <form [formGroup]="getuser" (ngSubmit)="submit()">
        <div class="orders"></div>
        <div class="form ion-text-center">
            <ion-item lines='none'>
                <ion-label position="floating"> Date</ion-label>
                <ion-datetime formControlName="date" required></ion-datetime>
            </ion-item>
            <ion-button class="cancelbtn" type="submit" size="medium">Submit</ion-button>
        </div>


        <div class="tablename" style="overflow-x:auto;" *ngIf="userList">
            <table>
                <tr>
                    <th class="order">Order ID</th>
                    <th class="order">Customer Name</th>
                    <th class="order">Phone</th>
                    <th class="order">Last Purchase Date</th>
                    <th class="order">Visting Date</th>
                    <th class="order">Sms Deliverd</th>
                    <th class="order">Action</th>
                </tr>

                <tr *ngFor="let order of userList">
                    <td>{{order.order_id}}</td>
                    <td>{{order.customer_name}}</td>
                    <td>{{order.customer_phone}}</td>
                    <td>{{order.created | date:'dd MMM YYYY'}}</td>
                    <td>{{order.next_visit | date:'dd MMM YYYY'}}</td>
                    <td>{{order.message_status == 0 ? 'Not Delivered':'Delivered'}}</td>

                    <td>
                        <ion-icon class="print" [routerLink]="['/invoice', order._id]" name="print-outline">
                        </ion-icon>
                        <ion-icon class="print" (click)="sendmessage(order)" name="send-outline">
                        </ion-icon>
                    </td>
                </tr>
            </table>
        </div>


    </form>




</ion-content>