<ion-toolbar>

    <ion-title>Blue Vision</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="arrow-back"></ion-icon>
</ion-toolbar>
<ion-content>
    <div>
        <h2 class="ion-text-center">Customer Visit</h2>
    </div>
    <div class="orders"></div>
    <div class="form ion-text-center">
        <ion-item lines='none'>
            <ion-label position="floating"> Date</ion-label>
            <ion-datetime></ion-datetime>
        </ion-item>
        <ion-button class="cancelbtn" size="medium">Submit</ion-button>
    </div>
</ion-content>