<ion-toolbar>

    <ion-title>Blue Vision</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="arrow-back"></ion-icon>
</ion-toolbar>
<ion-content>
    <div>
        <h2>Customer Information</h2>
    </div>
    <form [formGroup]="getuser" (ngSubmit)="submit()">
        <div class="orders">
            <div class="form ion-text-center">
                <!--   <ion-item lines='none'>
            <ion-label position="floating">Name</ion-label>
            <ion-input></ion-input>
        </ion-item> -->

                <ion-item lines='none'>
                    <ion-label position="floating">Phone No</ion-label>
                    <ion-input inputmode="text" formControlName="phone" required></ion-input>

                </ion-item>
                <ion-button class="cancelbtn" type="submit" size="medium">Submit</ion-button>
            </div>

            {{userList |json}}
        </div>
    </form>
</ion-content>