<ion-toolbar>

    <ion-title>Blue Vision</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" routerLink="{{user_home}}"  name="home"></ion-icon>
</ion-toolbar>
<ion-content>

    <h2>Customer Information</h2>

    <form [formGroup]="getuser" (ngSubmit)="submit()">
        <div class="form ion-text-center">
            <ion-item lines='none'>
                <ion-label position="floating">Phone No</ion-label>
                <ion-input inputmode="text" formControlName="phone" required></ion-input>
            </ion-item>
            <ion-button class="cancelbtn" type="submit" size="medium">Submit</ion-button>
        </div>

    </form>
    <div class="tablename" style="overflow-x:auto;" *ngIf="userList">
        <!-- {{userList | json}} -->
        <table>
            <tr>
                <th>order Date</th>
                <th>order Id</th>
                <th>Name</th>
                <th>Phone On</th>
                <th>address</th>
                <th>Next Visit</th>
                <th>Total</th>
                <th>Status</th>
                <!--   <th>Advance</th> -->

            </tr>
            <!-- {{userList |json}} -->
            <tr *ngFor="let user of userList">
                <td>{{user.order_date| date:'dd MMM YYYY'}}</td>
                <td>{{user.order_id}}</td>
                <td>{{user.customer_name}}</td>
                <td>{{user.customer_phone}}</td>
                <td>{{user.customer_address}}</td>
                <td>{{user.next_visit | date:'dd MMM YYYY'}}</td>
                <td>₹ {{user.total_amount  | number : '1.2-2'}}</td>
                <td>{{user.status}}</td>

                <!--  <td>{{userList.upcomming_visit.vistedDate | date:'dd MMM YYYY'}}</td>
                    <td>{{userList.visitng[0].last_visit | date:'dd MMM YYYY'}}</td>
                    <td>{{userList.upcomming_visit[0].next_visit | date:'dd MMM YYYY'}}</td> -->
                <!--    <td>{{userList.grand_total}}</td>
                    <td>{{userList.discount}}</td> -->

            </tr>
        </table>

        <!-- <div *ngIf="userList">
            <h4>No Recorrd Found</h4>
        </div>
 -->

    </div>
</ion-content>