ion-toolbar {
    height: 75px;
    --background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

ion-menu-button {
    color: #fff;
    font-size: 28px;
    margin-top: 12px;
}

ion-title {
    font-size: 28px;
    margin-top: 12px;
    text-align: center;
    margin-left: 15px;
    color: #fff;
}

ion-icon {
    color: #fff;
    font-size: 28px;
    margin-top: 12px;
    margin-left: 12px;
}
