<ion-content>
    <div class="ion-text-center">
        <img class="img1" src="assets/img/opticals.jpg">
        <p>Blue Vision</p>

    </div>
    <div class="container">
        <div class="form ion-text-center">
            <h2>Sign up</h2>
            <ion-item lines='none'>
                <ion-input placeholder='Name'></ion-input>
            </ion-item>
            <ion-item lines='none'>
                <ion-input placeholder='Email'></ion-input>
            </ion-item>

            <ion-item lines='none'>
                <ion-input placeholder='Password'></ion-input>
            </ion-item>
            <ion-button shape="round">Submit</ion-button>
            <h4>back to Sign in</h4>
        </div>
    </div>
</ion-content>