<ion-toolbar>

    <ion-title>Blue Vision</ion-title>

    <ion-icon slot="end" name="add-circle-outline" (click)="newOrder()" routerDirection="root"></ion-icon>
    <!-- routerLink="/orderform" -->
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-icon slot="start" name="arrow-back"></ion-icon> -->
</ion-toolbar>

<ion-content>
    <div>
        <h2>Orders</h2>
    </div>
    <div class="orders"></div>
    <div class="form ion-text-center">
        <form [formGroup]="orderForm">

            <ion-item class="select" lines='none'>
                <ion-label>Filler by status</ion-label>
                <ion-select formControlName="delivery_status">
                    <ion-select-option value="Pending">Pending</ion-select-option>
                    <ion-select-option value="Fitting">Fitting</ion-select-option>
                    <ion-select-option value="Ready">Ready to Deliver</ion-select-option>
                    <ion-select-option value="Delivered">Delivered</ion-select-option>
                </ion-select>

            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size=6>
                        <ion-item lines='none'>
                            <ion-input placeholder='Order No/Customer info' formControlName="customer"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size=6>
                        <ion-item lines='none'>
                            <ion-input type="date" formControlName="date"></ion-input>
                        </ion-item>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col size=4>
                        <ion-button class="search" (click)="search()" size=small>Search</ion-button>
                    </ion-col>
                    <ion-col size=4>
                        <ion-button class="export" (click)="export()" size=small>Export</ion-button>
                    </ion-col>
                    <ion-col size=4>
                        <ion-button class="reset" (click)="resetForm()" size=small>Reset</ion-button>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </form>


        <div class="tablename" style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Order On</th>
                    <th class="order">Customer Name</th>
                    <th class="order">Customer Phone </th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Advance</th>
                    <th>Balance</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let order of orderList">
                    <td>{{order.order_id}}</td>
                    <td>{{order.order_date | date:'dd MMM YYYY'}}</td>
                    <td>{{order.customer_name}}</td>
                    <td>{{order.customer_phone}}</td>
                    <td>₹ {{order.total_amount | number : '1.2-2'}}</td>
                    <td>₹ {{order.discount | number : '1.2-2'}}</td>
                    <td>₹ {{order.advance | number : '1.2-2'}}</td>
                    <td>₹ {{order.balance | number : '1.2-2'}}</td>
                    <td>{{order.delivery_status}}</td>
                    <!-- <td>
                        <ion-button class="export" (click)="getdetails(order._id)" size=small>click</ion-button>
                    </td> -->
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <ion-icon class="create" (click)="getdetails(order._id)" name="create-outline">
                                    </ion-icon>
                                    <!-- <ion-icon class="create" name="create"></ion-icon> -->
                                </td>
                                <td>
                                    <ion-icon class="save" (click)="showAlert(order._id, order.order_id )"
                                        name="save-outline">
                                    </ion-icon>
                                </td>
                                <td>
                                    <ion-icon class="print" [routerLink]="['/invoice', order._id]" name="print-outline">
                                    </ion-icon>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <ion-infinite-scroll threshold="200px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>


    </div>
</ion-content>