ion-toolbar {
    height: 75px;
    --background: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%);
}

ion-menu-button {
    color: #fff;
    font-size: 28px;
    margin-top: 12px;
}

ion-title {
    font-size: 28px;
    margin-top: 12px;
    text-align: center;
    margin-left: 15px;
    color: #fff;
}

ion-icon {
    color: #fff;
    font-size: 28px;
    margin-top: 12px;
    margin-left: 12px;
}


/*..........Container.............*/

#container {
    margin-top: 15px;
    font-size: 18px;
}

.firstbox {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background: red;
    .today {
        padding: 10px 0;
        color: #ffffff;
        border-bottom: 1px solid white;
    }
    .ordersvalue {
        display: flex;
        justify-content: center;
    }
    .orders {
        padding: 10px 80px;
        color: white;
    }
}


/*..........Container end.............*/


/*..........Container1.............*/

#container1 {
    margin-top: 15px;
    font-size: 18px;
}

.secondbox {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background: orange;
    .todaypayment {
        padding: 10px 0;
        color: #ffffff;
        border-bottom: 1px solid white;
    }
    .ordersvalue2 {
        display: flex;
        justify-content: center;
    }
    .orders1 {
        padding: 10px 30px;
        color: white;
    }
}

#container2 {
    margin-top: 15px;
    font-size: 18px;
}

.thirdbox {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background: green;
    .total {
        padding: 10px 0;
        color: #ffffff;
        border-bottom: 1px solid white;
    }
    .ordersvalue4 {
        display: flex;
        justify-content: center;
    }
    .orders2 {
        padding: 10px 80px;
        color: white;
    }
}