<ion-content>
    <div class="ion-text-center">
        <img class="img1" src="assets/img/opticals.jpg">
        <p>Blue Vision</p>

    </div>
    <div class="container">
        <div class="form ion-text-center">
            <h2 [style.color]="'#43b8ed'">Sign in</h2>


            <form [formGroup]="loginForm" (ngSubmit)="submit()">

                <!--     <ion-item lines='none'>
                    <ion-input inputmode="text" formControlName="name"></ion-input>
                </ion-item>


                <div *ngFor="let error of errorMessages.name">
                    <p [ngStyle]="{'color': 'red','font-size':'10px' }"> {{error.type | json}} </p>
                    <p [ngStyle]="{'color': 'red','font-size':'10px' }"> {{(name.dirty || name.touched)}} </p>
                    <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                        <small class="error-message" [ngStyle]="{'color': 'red'}">{{error.message}}</small>
                    </ng-container>
                </div> -->

                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input inputmode="email" formControlName="email"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.email">
                    <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                        <small class="error-message" [ngStyle]="{'color': 'red'}">{{error.message}}</small>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.password">
                    <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                        <small class="error-message" [ngStyle]="{'color': 'red'}">{{error.message}}</small>
                    </ng-container>
                </div>

                <!-- <ion-item lines='none'>
                    <ion-input placeholder='Password'></ion-input>
                </ion-item> -->
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-button [disabled]="!loginForm.valid" type="submit" expand="round">SIGN IN</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <!--  <ion-col size=6>
                            <ion-button [disabled]="!loginForm.valid" type="submit" shape="round">SIGN IN</ion-button>
                        </ion-col> -->
                        <!--   <ion-col size=6>
                            <ion-button shape="round" (click)="gotoHome()">SIGN UP</ion-button>
                        </ion-col> -->
                    </ion-row>
                </ion-grid>
            </form>


        </div>
    </div>
</ion-content>